*{
    color: #4a4e69;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
header{
    margin: 10px 20px 10px 40px;
    display: inline-flex; 
    
}
.name{
  
    border-left: 2px solid black ;
    display: inline-flex;
    color: #4a4e69;
    padding: 10px 5px ;
    font-size: 210%;
    font-weight: lighter;
    text-transform: uppercase;
}


nav{
    
    margin-left: 140px;
    padding-top: 20px;
  
    
}
.nav-items {   
    height: 100px;
    
    display: inline;
    
    margin: 10px 80px;
}
 #about{  
    border-radius: 5px;                   /*this is to display currnt page on*/
    border-bottom: 2px solid silver;
    border-right:2px solid silver; 
    padding: 5px 3px 2px 5px;
    box-shadow: 1px 1px silver;
}
.nav-items a {
    font-weight: bold;
    color: #4a4e69;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: none;
}
main{
    height: 90%;
    background-color: #e0ffcd;
}
h1{
    padding-top: 90px;
    padding-left: 100px;
    
}
#aboutme{
    margin-left: 250px;
    margin-top: 20px;
    border-left: 2px solid silver;
    
}
.content{
    margin-left: 20px;
    font-size: larger;
}
h2{
    margin-left: 100px;  
}

#fend{
    margin-left: 250px;
}
h4{ 
    padding-left: 10px;
    font-size: larger;
    border-left:2px solid silver;
}
#fend  li{
    margin-top: 10px;
    margin-left: 40px;
}
#bend{
    margin-top: 10px;
    margin-left: 250px;
}
#bend li{
    margin-top: 10px;
    margin-left: 40px;
}
.dbase{
    margin-top: 10px;
    margin-left: 250px; 
}
.dbase li{
    margin-top: 10px;
    margin-left: 40px; 
}

