*{
    margin: 0;
    padding: 0;
    
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;


}

body{
   
   overflow: hidden;
}
header{
    margin: 10px 20px 10px 40px;
    display: inline-flex;
    
    
    
    
    
}
.name{
  
    border-left: 2px solid black ;
    display: inline-flex;
    color: #4a4e69;
    padding: 10px 5px ;
    font-size: 210%;
    font-weight: lighter;
    text-transform: uppercase;
}


nav{
    
    margin-left: 140px;
    padding-top: 20px;
  
    
}
.nav-items {   
    height: 100px;
    
    display: inline;
    
    margin: 0 80px;
}
 #home{                     /*this is to display currnt page on*/
    border-bottom: 2px solid silver;
    border-right:2px solid silver; 
    padding: 5px 3px 2px 5px;
    box-shadow: 1px 1px silver;
}
.nav-items a {
    font-weight: bold;
    color: #4a4e69;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: none;
}
main{
    height: 800px;
    background-color: #e0ffcd;
    text-align: center;
    color: #4a4e69;

    

}
h1{
    padding-top: 200px;
    text-transform: uppercase;
    font-size: 300%; 
    
    

}
.para{
    font-size: 120%;
   
}
.btn{
    margin-top: 150px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px #4a4e69;
}
#btn{
    font-weight: bold;
    font-size: larger;
    text-decoration: none;
    color: #57385c;
}

